*{
    margin: 0px;
    padding: 0px;
}
body{
    height: auto;
}

.header{
    display: grid;
    grid-template-rows: 80% 20%;
    height: 20vh;
    font-family: 'Martian Mono', monospace;
    margin-bottom: 2.5rem;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background-color: rgb(1, 1, 24);
    background-image: linear-gradient(to top left, black,rgba(9, 6, 63, 0.995));
    color: white;
    width: 100%;
    position: fixed;
    height: 7.5rem;
}
span{
    color: rgb(103, 48, 253);
}
.navbar{
    display: flex;
    align-items: center;
    padding-left: 3rem;
    background-color: rgb(1, 22, 40);
    color: white;
    width: 100%;
    height: 1.8rem;
    position: fixed;top: 6.7rem;
}
li{
    display: inline;
    padding-right: 3rem;
    font-size: .8rem;
    text-decoration:none;
    transition: all .5s ease-in;
}
.main{
    margin-top: 1rem;
    margin-bottom: 7rem;
    height: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Martian Mono', monospace;
    padding: 2rem;
}
.box{
    height: auto;
    width: 40rem;
    background-color: rgba(95, 52, 236, 0.158);
    border-radius: 10px;
    transition: .1s ease-in-out;
}
.h2-box{
    display:flex;
    height: 3rem;
    justify-content: center;
    align-items: flex-end;
    padding-top: 2.9rem;
    font-size: 1.5rem;
    color: black;
}
.great-h2{
    font-family: 'Martian Mono', monospace;
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
.inp-box{
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}
.input{
    height: 2rem;
    width: 20rem;
    border-radius: 20px;
    border: 2px solid rgb(29, 168, 75);
    padding:0px 15px ;
    font-family: 'Martian Mono', monospace;
    font-size: .6rem;
    
}
.submit-box{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

}

.submit{
    height: 2.5rem;
    width: 10rem;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(21, 193, 78);
    color: white;
    font-size: 1rem;
    font-family: 'Martian Mono', monospace;
    transition: .1s ease;
}
.info-box{
    margin-bottom: 1.5rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    text-align: center;
    color: rgb(8, 3, 23);
    padding: .5rem;
    background-color: rgba(43, 243, 109, 0.226);
    border-radius: 10px;
    border: 3px solid rgba(4, 164, 57, 0.212) ;
}
.footer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, black,rgba(7, 5, 50, 0.995));
    color: white;
    height: 15vh;
    font-family: 'Martian Mono', monospace;
    border-radius: 5px 5px 0px 0px;
}

/* hover & active styling */
.submit:hover{
    box-shadow: 0px 1px 7px rgb(33, 184, 83);
    text-shadow: 0px 1px 5px rgba(6, 119, 44, 0.896);
    background-image: linear-gradient(to bottom right, rgb(33, 184, 83), rgba(20, 172, 71, 0.858));
}
.box:hover{
    box-shadow: 0px 1px 4px rgba(43, 18, 124, 0.518);
}
.submit:active{
    scale: 0.95;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    outline-offset: 1px;
    outline-width: 2px;
}

/* mediaQuery */
@media(max-width:450px){
    .box{
        width: 20rem;
        height: minmax(25,40)
    }
    .title{
        font-size: 1.5rem;
    }
    .navbar{
        display: none;
    }
    h2{
        font-size: 1.5rem;
    }
    .footer{
        padding-left: 1rem;
    }
    .great-h2{
        font-size: 1.15rem;
    }
}
@media(max-width:320px){
    .box{
        width: 15rem;
    }
    .great-h2{
        font-size: .9rem;
    }
}
.box-shake{
    animation: shake 0.2s;
    animation-iteration-count: 2;
  }

/* animation */
@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(10px) }
    50% { transform: translateX(-10px) }
    75% { transform: translateX(10px) }
    100% { transform: translateX(0) }
  }

/* scrollbar styling */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
  }
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb:hover {
    background: #a5a5a5; 
  }

/* writing text animation */
.greatings-container{
    display: flex;
    justify-content: center;
  }
  
  .great-h2 {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 3.5s;
    animation-timing-function: steps(55, end);
    animation-fill-mode: forwards;
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
